* {
    box-sizing: border-box;
}


/* FONTS */

@font-face {
    font-family: mpact;
    src: url(/fonts/impact.ttf);
}

.editor-container {
    height: 90vh;
    display: none;
}

.canvas-container {
    background-color: brown;
    margin: 0 auto;
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    margin: 0 auto;
    /* outline: 1px solid black; */
    background-color: white;
}


/* input.curr-txt {
    color: rgba(219, 213, 213, 0.932);
} */