* {
    box-sizing: border-box;
}


/* FONTS */

@font-face {
    font-family: mpact;
    src: url(/fonts/impact.ttf);
}

body {
    height: 100vh;
    margin: 0;
}

.main-container {
    min-height: 100%;
    background-color: #22252c;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header {
    height: 10%;
    width: 98%;
    margin-top: 10px;
    text-align: center;
    border-radius: 37px;
    color: white;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    /* justify-content: space-evenly;
    align-items: center; */
}

img.logo {
    height: 17px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.gal-nav {
    grid-column: 7/8;
    grid-row: 1/2;
}

.about-nav {
    grid-column: 9/10;
    grid-row: 1/2;
}


/* GALLERY */

.image-gallery {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    background-color: #383b42;
    width: 98%;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
    border-radius: 8px;
    margin: 10px;
}

img:hover {
    cursor: pointer;
}


/* EDITOR */

.editor-container {
    height: 80%;
    flex-grow: 1;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

canvas {
    display: block;
    margin: 10px;
    /* outline: 1px solid black; */
    background-color: white;
    border-radius: 15px;
}

.btns-container {
    height: 45%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input.curr-txt {
    height: 15%;
    width: 84%;
    background-color: #ebeef3;
}

.large-btns {
    margin: 5px;
    height: 10%;
    width: 84%;
    display: flex;
    justify-content: center;
}

.small-btns {
    margin: 5px;
    height: 23%;
    width: 84%;
    background-color: #19a59f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-btns button {
    height: 50%;
}

.small-btns select {
    height: 50%;
}


/* HELPERS */

.radius {
    border-radius: 8px;
}

@media screen and (min-width: 718px) {
    .image-gallery {
        height: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    img {
        height: 200px;
    }
    canvas {
        margin: 0 auto;
    }
    .editor-container {
        height: 80%;
        flex-direction: unset;
        justify-content: space-evenly;
        align-items: center;
    }
    .btns-container {
        height: 450px;
        width: 486px;
        justify-content: space-between;
    }
    input.curr-txt {
        height: 10%;
    }
}