* {
    box-sizing: border-box;
}


/* FONTS */

@font-face {
    font-family: mpact;
    src: url(/fonts/impact.ttf);
}

body {
    height: 100vh;
    margin: 0;
}

.main-container {
    min-height: 100%;
    background-color: #22252c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 10%;
    width: 98%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 37px;
    color: white;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    /* justify-content: space-evenly;
    align-items: center; */
}

img.logo {
    height: 17px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.gal-nav {
    grid-column: 7/8;
    grid-row: 1/2;
}

.memes-nav {
    grid-column: 9/10;
    grid-row: 1/2;
}

.memes-nav.highlite {
    background-color: #fff;
    color: #33be6d;
    border-radius: 3px;
}

.message-pop {
    display: none;
    position: absolute;
    background-color: lightgreen;
    color: #fff;
    top: 0;
    right: 0;
    height: 25px;
    width: 200px;
}


/* GALLERY */

.image-gallery {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    background-color: #383b42;
    width: 98%;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.image-gallery img {
    height: 150px;
    border-radius: 8px;
    margin: 10px;
}

img:hover {
    cursor: pointer;
}


/* EDITOR */

.editor-container {
    height: 80%;
    flex-grow: 1;
    display: none;
    flex-direction: column;
    align-items: center;
}

canvas {
    display: block;
    margin: 10px;
    /* outline: 1px solid black; */
    background-color: white;
    border-radius: 15px;
}

.btns-container {
    height: 50%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

input.curr-txt {
    height: 20%;
    width: 84%;
    background-color: #ebeef3;
    font-size: 1rem;
    padding: 4px;
    box-shadow: 1px 2px 0 #bbc4d1, inset 0 2px 0 #ffffff;
}

.large-btns {
    margin: 5px;
    height: 10%;
    width: 84%;
    display: flex;
    justify-content: space-evenly;
}

.large-btns button {}

.large-btns img {
    height: 12px;
}

.large-btns a {
    font-size: 1.5rem;
    background-color: purple;
    color: black;
    border-radius: 6px;
    text-decoration-line: none;
    text-decoration-style: none;
    border-width: 1px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.addline.btn {
    background-color: lightgreen;
}

.switch.btn {
    background-color: lightskyblue;
}

.delete.btn {
    background-color: red;
}

.move-up.btn {
    font-size: 1rem;
    font-weight: bolder;
}

.small-btns {
    margin: 5px;
    height: 23%;
    width: 84%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-btns button {
    height: 50%;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-style: solid;
}

.small-btns img {
    height: 18px;
}

.small-btns option img {
    height: 50%;
}

.small-btns select {
    height: 50%;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
}


/* MEMES GALLERY */

.saved-gallery {
    display: none;
    height: 80%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    background-color: #383b42;
    width: 98%;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-grow: 1
}

.saved-gallery img {
    height: 150px;
    border-radius: 8px;
    margin: 10px;
}


/* HELPERS */

.radius {
    border-radius: 10px;
}

.hover:hover {
    cursor: pointer;
}

.shadowbox {}

@media screen and (min-width: 718px) {
    .image-gallery {
        height: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .image-gallery img {
        height: 200px;
    }
    canvas {
        margin: 0 auto;
    }
    .editor-container {
        height: 80%;
        flex-direction: unset;
        justify-content: space-evenly;
        align-items: center;
        /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    }
    .btns-container {
        flex-grow: 0;
        height: 450px;
        width: 486px;
        justify-content: space-between;
    }
    input.curr-txt {
        height: 10%;
        font-size: 1rem;
    }
    .large-btns img {
        height: 16px;
    }
    .move-up.btn {
        font-size: 1.5rem;
    }
    .small-btns {
        background-color: #19a59f;
        justify-content: space-around;
    }
    .saved-gallery img {
        height: 200px;
        border-radius: 8px;
        margin: 10px;
    }
}